h1,
p {
  font-family: Lato;
}
table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
}

thead tr th {
  font-weight: 500;
  text-align: left;
  background-color: #fafafa;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}

th,
td {
  padding: 8px;
  overflow-wrap: break-word;
}

.home-main-body {
  width: 100%;
  height: 100vh;

  background: url(../../assets/img/background-dog2.jpg) center/cover;
}

.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-cards-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 80%;
  height: auto;

  margin: 0 auto;

  background-color: rgba(220, 194, 80, 0.85);
}

.home-go-top {
  display: none;

  width: 80px;
  height: 50px;

  background-color: tomato;
  border: 1px solid black;
}
